/.sixth
/651197962_1391287969712123_6326999491967783985_n.jpg
/case.ipynb
/cleaned_page4.png
/plot1_gps.png
/plot2_speed_hr.png
/plot3_rotation.png
/plot4_accel_playerload.png
/plot5_correlation.png
/plot6_zone_dist.png
/plot7_hr_recovery.png
/plot8_fatigue.png
/Redefining_Player_Performance.pdf
/Screenshot 2026-03-15 192621.png
/Simplified Research Proposal_ Evaluating Invisible Playmakers.docx
/Simplified Research Proposal_ Evaluating Invisible Playmakers.pdf
/The_Invisible_Playmaker.mp4
/Unified_Performance_Index.pdf
/Unified_Performance_Index_clean.pdf
/1-s2.0-S2772415825000070-main.pdf
/2011.09426v1.pdf
/2511.09457v1.pdf
/2604.21087v2.pdf
/assignment.ipynb
/Mini_Case_Study_Physical_Data_Visualization.ipynb
